# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: localhost
    database_port: 3306
    database_name: blogapi
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: ~
    mailer_password: ~
    
    weather_api_key: 897456dc602cb7c172b868e226f3898d
    secret: cdad2da8b22d019320bfd34750b135614b493e9c
    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
